.weather-container {
  background-color: rgb(246, 212, 212);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 6px;
  font-family: "Barlow";
}

.background {
  width: 100%;
  height: 70%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/154/249/original/Screenshot_2025-01-08_at_12.30.02.png?1736339418");
  background-position: center;
  padding: 20px;
}
.last-updated {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
}
.current-city {
  font-size: 68px;
  margin-top: 20px;
}
.current-country {
  font-size: 40px;
  line-height: 0px;
}

.weather-info {
  margin-top: 50px;
}
main {
  border-bottom: 1px solid #f9f7fe;
}
header {
  border-bottom: 1px solid #f9f7fe;
}
.search-input {
  background-color: #f9f7fe;
  color: rgba(39, 33, 66, 0.4);
  border: none;
  font-size: 16px;
  padding: 12px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  width: 15%;
  background-color: #7a81c0;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  line-height: 1;
  padding: 13px;
  padding-left: 7px;
}
.weather-troughout-the-day {
  background-color: whitesmoke;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 6px;
}

.footer {
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-temp-value {
  font-size: 70px;
  font-weight: bold;
}

.current-temp-icon {
  position: relative;
  font-size: 75px;
  margin-top: 5px;
}
.current-temp-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
